:root{
  --mainBlue:#AF7D5F;
  --lightBlue:#EFD5C4;
  --mainWhite:#F7F2EE;
  --mainDark:#232528;
  --mainYellow:#EFD5C4;
}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Permanent Marker', cursive;
letter-spacing: 0.3rem;
text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}

.btn-black{
background: transparent;
text-transform: capitalize;
font-size: 0.8rem !important;
color: var(--mainDark);
border-radius: 0 !important;
border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--mainBlue);
  color: white;
  text-align: center;
  padding: 15px;
  outline: black 2px solid;
  outline-offset: 2px;
}
.home-container{
  background-image: url(https://images.unsplash.com/photo-1463936575829-25148e1db1b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1090&q=80);
  height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home-title{
  margin-left:15%;
  margin-top:5%;

}
.tagline{
  text-align: right;
  margin-right: 5%;
}

.home-featured-container{
  background-color: var(--mainWhite);
  margin: 5%;
  font-size: xx-large;
 }
.aboutUsTitle{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;

}
.cite{
  text-align: right; 
   margin-bottom: 2%;
}
.home-about-container{
 height: 650px;
 background-image: url(https://artscenter.okstate.edu/images/Classes/Ceramics/open_studio_.jpg);
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-top: black 1px solid;
 }




.emailInput{
  width: 100%;
}
.lastNameInput{
  width: 50%;
}
.firstNameInput{
  width: 50%;
}
.instagram{
  text-align: right;
}
.home-email-container{
  background-color: var(--mainWhite);
  margin: 5%;
  letter-spacing: 3px;
  word-spacing: 5px;
  line-height: 1.9;
 }
 .email{
   text-align: center;
   margin-bottom: 2%;
 }
 .home-instagram-container{
  height: 200px; 
  background-color: var(--mainYellow);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3px;
  outline-offset: 2px;   
  outline: black 2px solid;
 }
 .instagram{
   margin-top:30px;
   text-align: center;
 }

 .classesTitle{
   text-align: center;
   margin: 30px;
 }
 .classesBlerb{
  margin: 30px;
 }
 .classListing{
   margin-top: 50px;
   margin-bottom: 50px;
   color: var(--mainDark);
   margin-left: 8%;
 }

 .announcements{
   background-color: var(--mainYellow);
   margin-top: 5%;
   border-radius: .5rem;
   font-family: "Permanent Marker";
   margin-right: 10px;
   outline: var(--mainWhite) 1px solid;
   outline-offset: -3px ;
   margin-left: 8%;
 }
 .announcement{
   margin: 20px;
 }

 .classesPic1{
   background-image: url(https://momlovesbest.com/wp-content/uploads/2019/05/Best-Pottery-Wheels-For-Kids-1-1.jpg);
height: 300px;
background-position: center;
 background-repeat: no-repeat;
 margin-bottom: 5%;
border-radius: .5rem;
margin-left: 15%;
outline: var(--mainWhite) 1px solid;
outline-offset: -3px ;
  }

 

  .triangle-down 
{background: var(--mainBlue);
       width: 100;
    height: 200;
    border-left: 750px solid transparent;
    border-right: 750px solid transparent;
    border-top: 100px solid var(--mainYellow);
  } 
 
  .cartPage{
   min-height: 650px
  }
  .Empty{
    margin-top: 20%;
  }
  .homePageBtn{
    opacity: 80%;
    color: var(--mainWhite);
    text-transform:capitalize;
font-size:1.4rem;
margin: 1rem;
  }
  a{
    color: var(--mainWhite)!important;
  }
